@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;

}

body{
    box-sizing: border-box;
    background-color: #d3bfd9;
    color: var(--cor-terciaria);

}

.titulo-destaque{
    color: #F582A7;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    
   

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
 
  

}


.cabecalho__menu__link{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FAF59c;
    text-decoration: none;  
    border-radius: 10px;

    
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: grid;
    flex-direction: column;
    gap: 10px;

}

.apresentacao__conteudo__titulo{
    display: grid;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  #FAF59c;
    align-items: flex-start;
   
}

.apresentacao__conteudo__texto{
    display: grid;
    font-size: 1.5rem;
    color: #000;
    

}

.apresentacao__links_subtitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid  #FAF59c;
    width: 95%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #180A0A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.apresentacao__links__link:hover{
    background-color: #FFCBDB;
}

.rodape{
    padding: 24px;
    color:  #FAF59c;
    background-color: #F582A7;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#apresentacao__img{
    display: flex;
    border-radius: 20px;
    align-items: baseline;
    justify-content: center;
    width: 60%;
    height: 60%;

    
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#apresentacao__img{
    display: inline-block;
    border-radius: 50px;
}

@media(min-width: 834px) {

    /* CABEÇALHO */
   .cabecalho{
       display: flex;
   }

   /* CONTEUDO */
   .apresetacao{
       justify-content: space-between;
   }

   .apresentacao__conteudo__titulo{
    display: flex;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  #FAF59c;
    align-items: flex-start;
    flex-wrap: wrap;
    
   }

    #apresentacao__img{
        display: inline-block;
       justify-content: flex-start;
       padding-top: 15px;
       gap: 33px;
   }

    .apresentacao__conteudo__texto{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .rodape{
        padding: 24px;
        color:  #FAF59c;
        background-color: #F582A7;
        text-align: center;
        font-family: 'Krona One', sans-serif;
        font-size: 1.5rem;
        font-weight: 100%;
    }
      }
   @media(min-width: 1440px) {
       
       .menu__container{
           width: 239px;
           overflow: scroll;
        }

      .menu__lista{
       height: auto;
       padding: 20px 17px 20px 15px;
       gap: 15px;
      }

   }